/vendor/
/node_modules/
/.env
/.idea
/.vscode
/.phpunit.result.cache
/phpunit.xml
/phpunit.xml.dist
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/public/storage
/public/hot
/public/mix-manifest.json
/public/test-coverage
/.DS_Store
Thumbs.db
.env.testing
composer.lock
yarn.lock
npm-debug.log
*.log
*.local
*.phpunit.result.cache
.phpunit.result.cache
*.swp
